<!DOCTYPE html>
<html>
    
{% extends "base.html" %}
<head>
    {% block title %}<title>{{ title }}</title>{% endblock title %}
  </head>

{% block content %}
<div class="jumbotron jumbotron-fluid bg-dark text-white text-center" >
    <div class="container-fluid" style="background-color: #150D0B; padding-bottom:2rem ">
      <h1 class="display-4">Наш цех по производству изделий из камня</h1>
      <p class="lead">Мы специализируемся на создании <span style="color: red;">балясин, колонн, пьедесталов и других элементов</span>, которые могут украсить любое здание и придать ему неповторимый стиль.</p>
      <p class="lead">Наша команда профессионалов работает с самыми разнообразными видами камня: <span style="color: red;">мрамор, гранит и другие виды камней</span>. Мы используем только высококачественный материал, который позволяет нам создавать изделия с высокой прочностью и долговечностью.</p>
      <p class="lead">Наша продукция отличается не только высоким качеством, но и эстетической привлекательностью.</p>
      <p class="lead">Мы гордимся тем, что наша продукция используется в самых разнообразных проектах - от роскошных особняков до государственных зданий. Мы всегда готовы помочь нашим клиентам в выборе подходящего дизайна и материала для их проекта.</p>
      <p class="lead">Если вы ищете профессиональных изготовителей изделий из камня, обращайтесь к нам. Мы гарантируем высокое качество продукции, быстрое изготовление и доставку в любую точку мира.</p>
    </div>
  </div>
{% endblock content %}

{% block about_us %}<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="/static/images/products/stone_prods/1.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="/static/images/products/stone_prods/5.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />

    <img
    src="/static/images/products/stone_prods/12.webp"
    class="w-100 shadow-1-strong rounded mb-4"
    alt="Yosemite National Park"
  />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/static/images/products/stone_prods/7.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="/static/images/products/stone_prods/41.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
    src="/static/images/products/stone_prods/28.webp"
    class="w-100 shadow-1-strong rounded mb-4"
    alt="Yosemite National Park"
  />

  <img
  src="/static/images/products/stone_prods/35.webp"
  class="w-100 shadow-1-strong rounded mb-4"
  alt="Yosemite National Park"
/>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/static/images/products/stone_prods/32.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="/static/images/products/stone_prods/15.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />

    <img
    src="/static/images/products/stone_prods/17.webp"
    class="w-100 shadow-1-strong rounded mb-4"
    alt="Yosemite National Park"
  />
  <img
  src="/static/images/products/stone_prods/4.webp"
  class="w-100 shadow-1-strong rounded mb-4"
  alt="Yosemite National Park"
/>
  </div>
</div>{% endblock about_us %}


